<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="shopTwo">
      <h2 data-cy="shopTwoDetailsHeading"><span jhiTranslate="gatewayApp.consumerShopTwo.detail.title">Shop Two</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ shopTwo.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.consumerShopTwo.shopName">Shop Name</span></dt>
        <dd>
          <span>{{ shopTwo.shopName }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.consumerShopTwo.owner">Owner</span></dt>
        <dd>
          <span>{{ shopTwo.owner }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.consumerShopTwo.category">Category</span></dt>
        <dd>
          <span>{{ shopTwo.category }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.consumerShopTwo.email">Email</span></dt>
        <dd>
          <span>{{ shopTwo.email }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/shop-two', shopTwo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
